/**
 * Vidinfra Player Frontend Styles
 * 
 * @package VidinfraPlayer
 */

.vidinfra-error {
  padding: 15px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
  margin: 10px 0;
}
